<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Referral Unit Form</title>
        <meta firstName="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css"><link rel="stylesheet" href="../css/shards.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Add Referral Unit</h2>
            <div class="row">
                <div class="col-md-6">
				
				
				
                    <form action="#" th:action="@{/add-referral-unit}" th:object="${referralUnit}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName" class="col-form-label">Full Name</label>
                                <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="Full Name">
                                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-info"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="shortName" class="col-form-label">Short Name</label>
                                <input type="text" th:field="*{shortName}" class="form-control" id="shortName" placeholder="Short Name">
                                <span th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}" class="text-info"></span>
                            </div>
                            <div class="form-group col-md-6">
							<br>
                                <b><label>Address</label></b>
                            </div><div class="form-group col-md-6">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address.country" class="col-form-label">Country</label>
                                <input type="text" th:field="*{address.country}" class="form-control" id="address.country" placeholder="Country">
                                <span th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}" class="text-info"></span>
                            </div>
							<div class="form-group col-md-6">
                                
                            </div>
							 <div class="form-group col-md-6">
                                <label for="address.zipCode" class="col-form-label">Zip Code</label>
                                <input type="text" th:field="*{address.zipCode}" class="form-control" id="address.zipCode" placeholder="Zip Code">
                                <span th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="text-info"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address.city" class="col-form-label">City</label>
                                <input type="text" th:field="*{address.city}" class="form-control" id="address.city" placeholder="City">
                                <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="text-info"></span>
                            </div>
							<div class="form-group col-md-6">
                                <label for="streetPrefix" class="col-form-label">Prefix</label>
                                <select class="form-control" th:field="*{address.streetPrefix}">
                                <option th:each="streetPrefix : ${T(pl.mac.bry.entities.enums.StreetPrefix).values()}"
                                	
                                	th:value="${streetPrefix}"
                                	th:text="${streetPrefix.getDescription()} +' '+ '-' + ' ' + ${streetPrefix}">
                                </option>
                                </select>           
                            </div>
							
                            <div class="form-group col-md-6">
                                <label for="address.street" class="col-form-label">Street</label>
                                <input type="text" th:field="*{address.street}" class="form-control" id="address.street" placeholder="Street">
                                <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="text-info"></span>
                            </div>
							<div class="form-group col-md-6">
                                <label for="address.buildingNumber" class="col-form-label">Building Number</label>
                                <input type="text" th:field="*{address.buildingNumber}" class="form-control" id="address.buildingNumber" placeholder="Building Number">
                                <span th:if="${#fields.hasErrors('address.buildingNumber')}" th:errors="*{address.buildingNumber}" class="text-info"></span>
                            </div>
							<div class="form-group col-md-6">
                                <label for="address.apartmentNumber" class="col-form-label">Apartment Number</label>
                                <input type="text" th:field="*{address.apartmentNumber}" class="form-control" id="address.apartmentNumber" placeholder="Apartment Number">
                                <span th:if="${#fields.hasErrors('address.apartmentNumber')}" th:errors="*{address.apartmentNumber}" class="text-info"></span>
                            </div>
                            	
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-info" value="Add Referral Unit" >
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>