<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css"><!-- Optional theme -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </head>
    <body>
	
        <div class="container my-5">
			

					
						
						
			
                <div class="col-md-10">
				<h2 class="my-5">List of Samples</h2>
				
				 
				 
				 <form action="#" th:action="@{/find-sample}" method="get">
				 <div class="row">
                            <div class="form-group col-md-6 mt-2">
                                <label for="sampleId" class="col-form-label">Sample Id</label>
                                <input type="text" class="form-control" name="sampleId" placeholder="Sample ID">
                                
								
							</div>	
                            <div class="form-group col-md-5 mt-5">
								<input type="submit" value="Find Sample" class="btn btn-info">
								
								<a href="/show-add-sample-form" class="btn btn-info"><i class="fas fa-vial"></i></i> Add Sample</a>
							
                            </div>
				 </form>
                        
                            
            
		
                    
                        
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Id</th>
									<th>Donation Date Time</th>
                                    <th>Sample Type</th>
									<th>Edit</th>
									<th>Print Label</th>
                                    <th>Delete</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="sample : ${samples}">
									<td th:text="${sample.id}"></td>
                                    <td th:text="${sample.donationDateTime}"></td>
                                    <td th:text="${sample.sampleType}"></td>
                                    <td><a th:href="@{/show-update-sample-form/{id}(id=${sample.id})}" class="btn btn-info"><i class="far fa-edit"></i></a></td>
									<td><a th:href="@{/print-sample-label/{id}(id=${sample.id})}" class="btn btn-info"><i class="fas fa-print"></i></i></a></td>
                                    <td><a th:href="@{/delete-sample/{id}(id=${sample.id})}" class="btn btn-info"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                         
                   <p>
               
					
					
					
					<p>    
                    <a href="/patients" class="btn btn-info"><i class="fas fa-caret-square-left"></i> Back</a>
                    </p>
                </div>
                
            
									
				
				
    </body>
</html>